@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #222;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Tinos', serif;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

/*------------------------------------------------------------
animation
------------------------------------------------------------*/
@-webkit-keyframes moving {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}
@keyframes moving {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}

@-webkit-keyframes movingRightArrow {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}

@keyframes movingRightArrow {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}

@-webkit-keyframes movingLeftArrow {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}

@keyframes movingLeftArrow {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}

@-webkit-keyframes waving {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

@keyframes waving {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.moving {
  -webkit-animation: moving 2s infinite linear alternate;
          animation: moving 2s infinite linear alternate;
}

.moving-right {
  -webkit-animation: movingRightArrow 2s infinite linear;
          animation: movingRightArrow 2s infinite linear;
}

.moving-left {
  -webkit-animation: movingLeftArrow 2s infinite linear;
          animation: movingLeftArrow 2s infinite linear;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
index page
------------------------------------------------------------*/
body {
  background-color: #00c9ff;
  padding: 20px 0;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper {
  width: 1000px;
  position: relative;
  height: 90vh;
  margin: 0 auto;
  font-size: 2rem;
  background: url(../assets/images/bg-sand.png) repeat;
  /* background: url(../assets/images/bg-sand.png) repeat; */
  padding: 50px;
}

#wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: url(../assets/images/bg-header.png) repeat;
  background-size: contain;
}

#wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: url(../assets/images/long-wave2.png) repeat;
  -webkit-animation: waving 60s infinite linear;
          animation: waving 60s infinite linear;
}

p {
  font-size: 1.4rem;
  line-height: 25px;
}

#ca-no {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

#content {
  position: relative;
}

.content__slider__wrap {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  margin-top: 25px;
}

.content__slider__wrap.is-opa {
  opacity: 1;
}

.content__title {
  font-size: 7em;
  text-align: center;
  line-height: 1em;
  background: url(../assets/images/wood.png) center no-repeat;
  background-size: cover;
  text-transform: uppercase;
  color: white;
  padding: 50px;
}

.navi {
  position: absolute;
  top: 45%;
  font-size: 5.5em;
  color: white;
  cursor: pointer;
}

.fa-angle-left {
  left: -60px;
}

.fa-angle-right {
  right: -60px;
}

.is-hidden {
  display: none;
}

.content__name {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 10px;
  background: url(../assets/images/small-wave.png) center bottom repeat-x;
}

.content__name span::before, .content__name span::after {
  content: '';
  background: url(../assets/images/pads.png) center no-repeat;
  width: 35px;
  height: 35px;
  background-size: contain;
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

.content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#avatar {
  width: 200px;
  height: auto;
}

.content__info__social {
  margin-left: 60px;
}

.content__info__social li {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 12px 0px;
}

.content__info__social li::before {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #00c9ff;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  color: white;
}

.content__info__social li:nth-child(1)::before {
  content: "";
  font-weight: 900;
  margin: 0 10px 0 0;
  font-family: "Font Awesome 5 Free";
}

.content__info__social li:nth-child(2)::before {
  content: "";
  font-weight: 900;
  margin: 0 10px 0 0;
  font-family: "Font Awesome 5 Free";
}

.content__info__social li:nth-child(3)::before {
  content: "";
  font-weight: 900;
  margin: 0 10px 0 0;
  font-family: "Font Awesome 5 Free";
}

.content__info__social li:nth-child(4)::before {
  content: "";
  font-weight: 900;
  margin: 0 10px 0 0;
  font-family: "Font Awesome 5 Free";
}

.content__heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 6px;
  padding: 10px 50px;
  background: url(../assets/images/wave-2.png) left bottom no-repeat;
}

.content__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__detail p::before {
  content: "";
  font-weight: 900;
  margin: 0 5px 0 0;
  font-family: "Font Awesome 5 Free";
  color: #00c9ff;
}

.content__company {
  padding: 20px 0;
}

.content__company:not(:last-child) {
  border-bottom: 1px dashed #00c9ff;
}

.content__company__upper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.content__company__under {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__company__under__left img {
  width: 150px;
  height: auto;
}

.content__company__under__right {
  margin-left: 30px;
}

.content__company__under__right p::before {
  content: "";
  font-weight: 900;
  margin: 0 5px 0 0;
  font-family: "Font Awesome 5 Free";
  color: #00c9ff;
}

.content__grid {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__grid__img {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
  margin: 10px 0;
  position: relative;
}

.content__grid__img__link {
  padding: 10px;
  display: inline-block;
  background: url(../assets/images/wood.png) center no-repeat;
}

.content__grid__img__link:hover {
  opacity: 1;
  -webkit-box-shadow: 2px 3px 2px 2px #00c9ff6b;
          box-shadow: 2px 3px 2px 2px #00c9ff6b;
}

.content__grid__img__link:hover img {
  opacity: 1;
}

.content__grid__img__link img {
  width: 150px;
  height: 200px;
}

.content__grid__img__detail {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 10;
  background-color: #00000099;
  padding: 5px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.content__grid__img__detail::before {
  content: '';
  position: absolute;
  left: 47%;
  top: 100%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #00000099;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.content__grid__img__link:hover ~ .content__grid__img__detail {
  opacity: 1;
}

.content__grid__img__link:hover ~ .content__grid__img__detail::before {
  opacity: 1;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
RESPONSIVE 1366
------------------------------------------------------------*/
@media screen and (max-width: 1367px) {
  .content__title {
    font-size: 6em;
  }
  p {
    font-size: 1.3rem;
  }
  #avatar {
    width: 120px;
  }
  .content__info__social {
    margin-left: 40px;
  }
  .content__info__social li {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 7px 0px;
  }
  .content__info__social li::before {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .content__heading {
    font-size: 2rem;
    padding: 7px 50px;
    background-size: contain;
  }
  .content__company {
    padding: 10px 0;
  }
  .content__company__under__left img {
    width: 90px;
  }
  .content__grid__img__link img {
    width: 100px;
    height: 125px;
  }
}

/*------------------------------------------------------------
RESPONSIVE 768px
------------------------------------------------------------*/
@media screen and (min-width: 769px) {
  .content__slider {
    width: 100%;
    height: 100%;
    display: none;
  }
  .is-show {
    z-index: 5;
    display: block;
  }
  .content__detail--ml {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  body {
    padding: 10px;
  }
  p {
    font-size: 1rem;
  }
  #wrapper {
    width: auto;
    height: auto;
    padding: 35px 10px 60px;
    font-size: 1.5rem;
  }
  #wrapper::before {
    background-size: cover;
  }
  #wrapper::after {
    bottom: -4px;
  }
  .content__title {
    font-size: 3em;
    padding: 30px;
  }
  .content__slider__wrap {
    opacity: 1;
  }
  .content__name {
    font-size: 2.5rem;
  }
  .content__info__social {
    margin-left: 20px;
  }
  .content__info__social li {
    font-size: 1rem;
    margin: 5px 0px;
  }
  .content__info__social li::before {
    margin: 0 5px 0 0 !important;
  }
  .content__heading {
    font-size: 1.6rem;
    padding: 7px 35px;
  }
  .content__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  #ca-no {
    bottom: 3px;
    width: 88px;
  }
}

@media screen and (max-width: 480px) {
  #wrapper {
    font-size: 1.2rem;
  }
  .content__name {
    font-size: 1.8rem;
  }
  .content__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__info__social {
    margin-left: 0px;
  }
  .content__heading {
    font-size: 1.4rem;
  }
  .content__grid::after {
    content: '';
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
  }
  .content__grid__img {
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
  }
  .content__grid__img__link {
    padding: 7px;
  }
  .content__grid__img__link img {
    width: 70px;
    height: 95px;
  }
  .content__company__upper, .content__company__under {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .content__company__date {
    font-size: 1rem;
    margin-top: 5px;
  }
  .content__company__under__right {
    margin-left: 0px;
  }
}

